:host {
    border: 1px solid darkgrey;
    width: 275px;

    .photo {
        max-width: 250px;
        display: block;
        padding: 5px 0;
    }

    .adult {
        color: red;
    }

    .unicorns-actions {
        padding-top: 10px;
        display: flex;
        justify-content: space-evenly;
    }
}
