<div [ngClass]="{ adult: age >= 18 }" *ngIf="unicorn">
    <div>
        <div>Id: {{ unicorn.id }}</div>
        <div>Name: {{ unicorn.name | magicalName }}</div>
        <div><img class="photo" alt="photo" [src]="unicorn.photo" /></div>
        <div>Weight: {{ unicorn.weight }}</div>
        <div>Age: {{ age < 60 ? age : '👴' }}</div>
        <div>Age: {{ isPair(age) }}</div>
        <div>Capacities: {{ unicorn.capacities }}</div>
    </div>
    <div class="unicorns-actions">
        <button mat-mini-fab color="primary" type="button" (click)="deleteUnicorn()">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-mini-fab [color]="isInCart ? 'accent' : 'primary'" type="button" (click)="toggleToCart(unicorn)">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-mini-fab color="primary" type="button" (click)="openEditDialog()"><mat-icon>edit</mat-icon></button>
        <button mat-mini-fab color="primary" type="button" [routerLink]="['/unicorn', unicorn.id]">
            <mat-icon>visibility</mat-icon>
        </button>
    </div>
</div>
